/*kleuren: Groen: #9DED40  paars: #8F40ED */
*{
    margin: 0;
    padding: 0;
}
p{
    color:#9DED40;
}
                                    /*navigatie*/
header{
    background-color: #220642;
}
nav ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
nav li a{
    display: block;
    width: 25%;
    float: right;
    color:#9DED40;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
    font-size: 17px;
}
nav li a{
    border: 2px solid #9DED40;
}
nav li a:hover{
    border: 2px solid #220642;
    background-color: #9DED40;
    color:#220642;
    text-decoration: none;
}


                                    /*footer*/
footer{
    display: flex;
    

}
                                    /*Home*/
.mainbox{
    height: 100vh;
   background-image: radial-gradient(circle at bottom, 
   #E2F9C6, #EDE1FC, #B682F3,#6E15D5, #220642);
}
.maintext{ 
    
    
}
.centertext{
    float: left;
}

.knop{
    color: #9DED40;
    padding: 10px 10px; /*nog even mee spelen om te kijken wat mooi is */
    background: transparent;
    border: 1px solid #9DED40; /*of mischien gewoon none border?*/
    border-radius: 20px;
    outline: none; /*de ruimte om de border heen*/
    width: 10em;
}


/*vallende sterren animatie*/
.ufo img{
    width: 50px;
    opacity: 0;
    animation: ufo 7s linear infinite;
}

.ufo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
}

@keyframes ufo{
    0%{
        transform: translateY(-100vh);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    70%{
        opacity: 1;
    }
    100%{
        transform: translateY(0);
        opacity: 0;
    }
}
.ufo img:nth-child(2){
    animation-delay: 2.5s;
    width: 30px;
}
.ufo img:nth-child(3){
    animation-delay: 3s;
    width: 40px;
}
.ufo img:nth-child(4){
    animation-delay: 6s;
    width: 60px;
}
.ufo img:nth-child(5){
    animation-delay: 4.5s;
    width: 25px;
}
.ufo img:nth-child(6){
    animation-delay: 2s;
    width: 55px;
}
.ufo img:nth-child(7){
    animation-delay: 3.5s;
    width: 25px;
}
.ufo img:nth-child(8){
    animation-delay: 7s;
    width: 70px;
}
.ufo img:nth-child(9){
    animation-delay: 1s;
    width: 20px;
}
/*eind vallende sterren animatie*/

/*Notes to self: oke ik moet die navigatie balk ff goed fixen, die main container ook weer goed zetten. 
Dan iets van content verzinnen om op de pagina te zetten met jquery. ik zit te denken aan een stuk intro tekst en dan dat in en uit t scherm dmv. een knop ofzo. 
footer maken. met dead links naar social media ofzo? met van die logos enzo. 
en die html door de validator halen!
 */
