/*kleuren: Groen: #9DED40  paars: #8F40ED */
/*Geimporteerde fonts: 
font-family: 'Cinzel', serif;
font-family: 'Cinzel Decorative', cursive;
font-family: 'Kaushan Script', cursive;
font-family: 'Niconne', cursive;
font-family: 'Press Start 2P', cursive;
font-family: 'Zen Loop', cursive;
*/

/* Coolors pallette: 
Russian violet:         62, 47, 91
Dark Purple:            38, 17, 50
marigold:               239, 160, 11
Yellow Green Crayola:   206, 236, 151
pink lace:              242, 215, 238
*/
*{
    margin: 0;
    padding: 0;
    color:rgb(239, 160, 11);
    font-family: 'Cinzel Decorative', cursive;
    text-shadow: 1px 1px #333;
}
body{
    background-image: radial-gradient(circle at bottom, rgb(242, 215, 238), rgb(62, 47, 91),rgb(38, 17, 50));
    background-repeat: no-repeat;
}
p{
}
                                    /*navigatie*/
header{
    height: 50px;
    background-color: rgb(38, 17, 50);
}
nav{
    width:100%;
}
nav ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
nav li a{
    width: 25%;
    display:block;
    float: right;
    color: rgb(239, 160, 11);
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
    font-size: small;
    font-weight: bolder;
    height:50px;
    border: 2px solid rgb(239, 160, 11);
}
nav li a:hover{
    border: 2px solid rgb(38, 17, 50);
    background-color: rgb(239, 160, 11);
    color:rgb(38, 17, 50);
    text-shadow: none;
}


                                    /*footer*/
footer{
    height: 70px;
    position: fixed;
    width: 100%;
    bottom: 0px;
    background-color: rgb(38, 17, 50);
    text-align: center;
    border: 2px solid rgb(239, 160, 11);
}
                                    /*Home*/
.mainbox{
    height: 100vh;
    margin: 0;
    padding: 0;
}
.maintext{
    margin:0 50%;
    width: 60%;
}
.centertext, .titel, .knop{
    text-shadow: 1px 2px black;
}
.titel{
    font-weight: bolder;
    padding-bottom: 5%;
}
#heks{
    width: 60%;
    border-radius: 50%;
    float: left;
    padding: 5px;
}
.knop{
    margin: 10% 50%;
    color: rgb(239, 160, 11);
    padding: 10px 10px; 
    background: transparent;
    border: 1px solid rgb(239, 160, 11); 
    border-radius: 20px;
    outline: none; 
    width: 10em;
    font-weight: bold;
}
.knop:hover{
    background-color: rgb(38, 17, 50);
}
.knop:active{
    background-color: rgb(239, 160, 11);
    color:rgb(38, 17, 50);
    text-shadow: none;
    border: 1px solid rgb(38, 17, 50);
}

/*vallende sterren animatie*/
.ster img{
    width: 50px;
    opacity: 0;
    animation: ster 7s linear infinite;
}

.ster{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
}

@keyframes ster{
    0%{
        transform: translateY(-100vh);
        opacity: 0;
    }
    25%{
        opacity:1;
    }
    50%{
        opacity: 1;
    }
    75%{
        opacity: 1;
    }
    100%{
        transform: translateY(0);
        opacity: 0;
    }
}
.ster img:nth-child(2){
    animation-delay: 2.5s;
    width: 30px;
}
.ster img:nth-child(3){
    animation-delay: 3s;
    width: 40px;
}
.ster img:nth-child(4){
    animation-delay: 6s;
    width: 60px;
}
.ster img:nth-child(5){
    animation-delay: 4.5s;
    width: 25px;
}
.ster img:nth-child(6){
    animation-delay: 2s;
    width: 55px;
}
.ster img:nth-child(7){
    animation-delay: 3.5s;
    width: 25px;
}
.ster img:nth-child(8){
    animation-delay: 7s;
    width: 70px;
}
.ster img:nth-child(9){
    animation-delay: 1s;
    width: 20px;
}
/*eind vallende sterren animatie*/

/*mediaqueries*/
    @media only screen and (max-width: 600px){
        .mainbox{
            overflow: hidden;
        }
        .maintext{
            font-size: xx-small;
            margin:0 50%;
            width: 40%;
        }
        .centertext, .titel{
            text-shadow: 1px 2px black;
        }
        nav li a{
            font-size: xx-small;
        }
        #heks{
            width: 60%;
        }
    }
    @media only screen and (min-width: 600px){
        .mainbox{
            overflow-x: hidden;
        }
        .maintext{
            font-size: small;
            width: 35%;
        }
        #heks{
            width: 40%;
        }
    }
    @media only screen and (min-width: 992px){
        .maintext{
            font-size: large;
            width:50%;
        }
        .knop{
            margin: 4% 50%;
            width:15%;

            font-size:medium;
        }
        #heks{
            width: 50%;
        }
    }